In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("C:\\Users\\thris\\Downloads\\archive (2)\\match_results_for_icc_mens_t20_world_cup_2024.csv")
df.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,United States of America,Canada,United States of America,7 wickets,Dallas,6/1/2024
1,West Indies,Papua New Guinea,West Indies,5 wickets,Providence,6/2/2024
2,Namibia,Oman,tied,-,Bridgetown,6/2/2024
3,South Africa,Sri Lanka,South Africa,6 wickets,New York,6/3/2024
4,Afghanistan,Uganda,Afghanistan,125 runs,Providence,6/3/2024

In [5]:
df.groupby("Winner")["Winner"].count().sort_values(ascending=False)

Winner
India                       8
South Africa                8
Afghanistan                 5
Australia                   5
West Indies                 5
England                     4
Bangladesh                  3
Scotland                    2
Pakistan                    2
New Zealand                 2
tied                        2
Netherlands                 1
Sri Lanka                   1
Uganda                      1
United States of America    1
Canada                      1
no result                   1
Name: Winner, dtype: int64

In [6]:
df["Ground"].value_counts()

Ground
Bridgetown     9
New York       8
North Sound    8
Providence     6
Gros Islet     6
Tarouba        5
Kingstown      5
Dallas         4
Lauderhill     1
Name: count, dtype: int64

In [8]:
team=input("Team Name:")
d1=df[df["Winner"]==team]

res=d1[["Team 1","Team 2","Winner","Ground"]]
res

                      Team 1        Team 2 Winner       Ground
7                      India       Ireland  India     New York
18                     India      Pakistan  India     New York
23  United States of America         India  India     New York
39               Afghanistan         India  India   Bridgetown
43                Bangladesh         India  India  North Sound
47                 Australia         India  India   Gros Islet
50                   England         India  India   Providence
51                     India  South Africa  India   Bridgetown